@use "@angular/material" as mat;

// Define paletas institucionais
$primary-palette: mat.define-palette(mat.$blue-palette, 700, 500, 900);
$accent-palette: mat.define-palette(mat.$orange-palette, 500, 300, 700);
$warn-palette: mat.define-palette(mat.$red-palette);

// Tema institucional claro
$reqsys-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary-palette,
      accent: $accent-palette,
      warn: $warn-palette,
    ),
    typography: mat.define-typography-config(
      $font-family: 'Arial, "Helvetica Neue", sans-serif',
    ),
    density: 0,
  )
);

@include mat.all-component-themes($reqsys-theme);

html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, "Helvetica Neue", sans-serif;
  background-color: #ffffff;
  color: #333333;
}

.mat-drawer-container {
  background-color: #ffffff !important;
}

.mat-sidenav {
  background-color: #ffffff !important;
  border-right: 1px solid #d0d0d0 !important;
}

.mat-toolbar {
  background-color: #005ca9 !important;
  border-bottom: 1px solid #d0d0d0 !important;
  color: #ffffff !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #e8f1fa;
}
::-webkit-scrollbar-thumb {
  background: #9e9e9e;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6b6b6b;
}
